.logo-container {
	display: flex;
	align-items: center;
	margin: 1rem auto;
	.icon {
		width: 4rem;
		padding: 0.5rem;
		margin-right: 0.5rem;
	}
	.title-container {
		font-weight: 500;
		.logo-title {
			font-size: 2rem;
			background: var(--gradient);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
		}
		.logo-sub-title {
			font-weight: 200;
			font-size: 1rem;
			letter-spacing: 0.35rem;
			color: white;
			margin: 0.1rem auto;
		}
	}
}
